{% extends 'usuario/base_usuario.html' %}
{% block titulo %}Tecnocorp - Inicio{% endblock %}
{% block contenido %}
{% load static %}
<h1 class="titulo">El Futuro Digital Empieza Aquí</h1>
<section class="seccioninicio">
    <div>
        <p>Tecnocorp no es solo una empresa de tecnología, somos arquitectos del mañana. Nos dedicamos a diseñar e implementar soluciones digitales de vanguardia que redefinen la eficiencia y la conectividad a escala global. Nuestra misión es simple, eliminar las barreras tecnológicas para que su negocio no solo sobreviva, sino que prospere en la era de la información.</p>
        <h2 class="subtitulo">Innovación y Seguridad</h2>
        <p>Nuestras plataformas estan construidas sobre una base de innovación contínua y seguridad inquebrantable. Desde la computación cuántica hasta la ciberseguridad impulsada por IA, cada solución Tecnocorp esta diseñada para anticiparse a los desafíos del mañana. Confie en nuestra infraestructura de "TecnoCloud Enterprise" para manejar sus datos mas sensibles con la máxima confidencialidad y rendimiento.</p>
        <h2>Conectando el Mundo</h2>
        <p>Creemos que la colaboracón global es la clave del progreso. Po eso, hemos desarrollado la red "Connect 360", un ecosistema digital que permite a equipos distribuidos trabajar como una sola unidad, sin importar la distancia. Únanse a las miles de empresas que ya están experimentando el poder de una conexión verdaderamente sin limites.</p>
    </div>
    <img class="imageninicio" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1Vmi_gSIgd_uZDL5jRnNqtYteVC50iRaeAvMxg4OnH0uwE67frzajHrxAUOfXsxOhOl4&usqp=CAU">
</section>
{% endblock %}